model/.trash/*
model/.ipynb_checkpoints
pip/*

**/.cache
**/.config
**/.ipython
**/.jupyter
**/.local
**/.npm/*

data/results/*

# Directorios de salida de MLflow
mlruns/
.mlflow/

# Archivos de registro
*.log
*.out
*.err

# Archivos temporales
*.pyc
*.swp
*~